<header id="navigation" class="navigation headroom">
  <div class="navigation-wrapper">

    <!-- logo -- replace with APF -->
    <%= link_to image_tag('logo.png', alt:'logo'), root_path, class:'logo' %>

    <!-- mobile menu toggle -->
    <%= link_to 'MENU', '', class:'navigation-menu-button', id:'js-mobile-menu' %>

    <!-- render either Blog menu or Main menu -->
    <% if params[:controller] == 'posts' %>
      <nav class="nav">
        <ul id="navigation-menu">
          <%= content_tag :li, link_to('Back to Home', root_path), class:'nav-link active' %>
          <%= content_tag :li, link_to('Blog', posts_path), class:'nav-link' %>
        </ul>
      </nav>

    <% else %>

      <nav class="nav">
        <ul id="navigation-menu">
          <%= content_tag :li, link_to('Home', '#section-intro'), class:'nav-link active' %>
          <%= content_tag :li, link_to('Site Features', '#section-features'), class:'nav-link' %>
          <%= content_tag :li, link_to('APF Showcase', '#section-showcase'), class:'nav-link' %>
          <%= content_tag :li, link_to('Blog', '#section-blog'), class:'nav-link' %>
          <%= content_tag :li, link_to('Contact', '#section-contact'), class:'nav-link' %>
        </ul>
      </nav>
     <% end %>

  </div>
</header>
