<header id="navigation" class="navigation headroom">
  <div class="navigation-wrapper">

    <!-- logo -- replace with APF -->
    <%= link_to image_tag('logo.png', alt:'logo'), root_path, class:'logo' %>

    <!-- mobile menu toggle -->
    <%= link_to 'MENU', '', class:'navigation-menu-button', id:'js-mobile-menu' %>

    <nav class="nav">
      <ul id="navigation-menu">
        <%= content_tag :li, link_to('Home', '#section-intro'), class:'nav-link active' %>
        <%= content_tag :li, link_to('Porphyria', '#section-features'), class:'nav-link' %>
        <%= content_tag :li, link_to('APF Showcase', '#section-showcase'), class:'nav-link' %>
        <%= content_tag :li, link_to('Blog', '#section-blog'), class:'nav-link' %>
        <%= content_tag :li, link_to('Contact', '#section-contact'), class:'nav-link' %>
      </ul>
    </nav>

  </div>
</header>
