<header class="centered-navigation" role="banner">

  <div class="centered-navigation-wrapper">
    <%= link_to 'javascript:void(0)', class:'mobile-logo' do %>
      <%= holder_tag 50 %>
    <% end %>

    <%= link_to 'menu', 'javascript:void(0)', id:'js-centered-navigation-mobile-menu', class:'centered-navigation-mobile-menu' %>

    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link more">
          <%= link_to 'Learn', 'javascript:void(0)' %>

          <ul class="submenu">
            <%= content_tag :li, link_to('History of Porphyria', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Acute Intermittent Porphyria (AIP)', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Variegate Porphyria (VP)', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Hereditary Coproporphyria (HCP)', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Alad Porphyria (AP)', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Porphyria Cutanae Tarda (PCT)', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Eryuthropoietic Protoporphyria (EPP)', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Congential Erythropoietic Porphyria (CEP)', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Hepatoerythropoietic Porphyria (HEP)', 'javascript:void(0)') %>
          </ul>
        </li>

        <li class="nav-link more">
          <%= link_to 'Diagnose', 'javascript:void(0)' %>
     
          <ul class="submenu">
            <%= content_tag :li, link_to('Screening', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('First-Line Tests', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Diagnostic Tests', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Sensitivity & Specifications', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('24-Hour Urine Test', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('DNA Testing', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Global Lab Locations', 'javascript:void(0)') %>
          </ul>
        </li>
      
        <li class="nav-link more">
          <%= link_to 'Treat', 'javascript:void(0)' %>
          
          <ul class="submenu">
            <%= content_tag :li, link_to('Panhematin', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Lumitene', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Find a Doctor', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Clinical Studies', 'javascript:void(0)') %>
          </ul>
        </li>

        <li class="nav-link logo">
          <%= link_to 'javascript:void(0)', class:'logo' do %>
            <%= holder_tag 50 %>
          <% end %>
        </li>

        <%= content_tag :li, link_to('Testimonials', 'javascript:void(0)'), class:'nav-link' %> 

        <li class="nav-link more">
          <%= link_to 'Get Involved', 'javascript:void(0)' %>

          <ul class="submenu">
            <%= content_tag :li, link_to('Join APF', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Donate', 'javascript:void(0)') %>
            <%= content_tag :li, link_to('Volunteer', 'javascript:void(0)') %>
          </ul>
        </li>
      </ul> 
    </nav>

  </div>

</header>
