<footer class="small-footer" role="contentinfo">
  <div class="footer-logo">
    <%= holder_tag 50 %>
  </div>

  <ul>
    <%= content_tag :li, link_to('About', 'javascript:void(0)') %>
    <%= content_tag :li, link_to('Blog', 'javascript:void(0)') %>
    <%= content_tag :li, link_to('Contact', 'javascript:void(0)') %>
  </ul>

  <div class="footer-secondary-links">
    <ul>
      <%= content_tag :li, link_to('Terms & Conditions', 'javascript:void(0)') %>
      <%= content_tag :li, link_to('Privacy Policy', 'javascript:void(0)') %>
    </ul>

    <ul class="footer-social">
    </ul>
  </div>

</footer>
