<!-- /// INTRO SECTION /// -->

<section class="intro" id="section-intro">
  <div class="image-bg" data-stellar-background-ratio="0.2"></div>
  <%= content_tag :div, nil, class:'color-overlay' %>

  <div class="container">
    <div class="logo">
      <h1><%= image_tag 'logo-white.png', alt:'logo' %></h1>
    </div>

    <h3>
      The APF is dedicated to improving the health and well-being of individuals and families affected by Porphyria.
    </h3>
  </div>

  <!-- the 'jump' button to scroll to the next section -->

  <%= link_to icon('chevron-down'), '#section-features', class:'jump-down' %>
</section>

<section class="features" id="section-features">
  <div class="container">

    <div class="title">
      <h2>Get Involved</h2>
      <%= tag :hr, class:'small' %>
      <p>Welcome to our new site!  Here are a things you can do:</p>
    </div>

    <div class="feature-items">
      <div class="feature-item">
        <%= icon('university') %>
        <h4>Learn about Porphyria</h4>
        <p><%= Faker::Lorem.sentence(12) %></p>
      </div>

      <div class="feature-item">
        <%= icon('stethoscope') %>
        <h4>Diagnose Porphyria</h4>
        <p><%= Faker::Lorem.sentence(12) %></p>
      </div>

      <div class="feature-item">
        <%= icon('medkit') %>
        <h4>Treat Porphyria</h4>
        <p><%= Faker::Lorem.sentence(12) %></p>
      </div>

      <div class="feature-item">
        <%= icon('users') %>
        <h4>Join the APF</h4>
        <p><%= Faker::Lorem.sentence(12) %></p>
      </div>

      <div class="feature-item">
        <%= icon('credit-card') %>
        <h4>Donate to the APF</h4>
        <p><%= Faker::Lorem.sentence(12) %></p>
      </div>

      <div class="feature-item">
        <%= icon('support') %>
        <h4>Visit our Forum</h4>
        <p><%= Faker::Lorem.sentence(12) %></p>
      </div>
    </div>

  </div>
</section>

<section class="newsletter">
  <div class="image-bg" data-stellar-background-ratio="0.5"></div>
  <%= content_tag :div, nil, class:'color-overlay' %>
  
  <div class="container">
    <div class="nl-text">
      <p>
        Register for our monthly newsletter and receive 
        notifications when important news about Porphyria occurs!
      </p>
    </div>

    <div class="nl-form">
      <!-- newsletter form -->
      <form id="newsletter" novalidate>
        <input type="email" name="email" id="email" placeholder="Your email address" required>
        <input type="submit" class="button" value="Submit">
      </form>
      
      <%= content_tag :div, nil, class:'newsletter-error' %>
    </div>
  </div>
</section>

<section class="showcase" id="section-showcase">
  <div class="container">

    <div class="title">
      <h2>APF Showcase</h2>
      <%= tag :hr, class:'small' %>
      <p><%= Faker::Lorem.sentence(12) %></p>
    </div>

    <!-- image slider -->
    <div class="split">
      <div class="split-left split-text">
        <h4>Check out our member stories!</h4>
        <p class="lead"><%= Faker::Lorem.sentence(12) %></p>
        
        <p>&nbsp;</p>  <!-- fix spacing in home.css.scss -->

        <%= link_to 'Join APF', 'javascript:void(0)', class:'button large' %>
        &nbsp;
        <%= link_to 'Donate', 'javascript:void(0)', class:'button large alt' %>
      </div>

      <div class="split-right split-media">
        <div id="showcase-slider" class="owl-carousel owl-theme">
          <!-- slider items -->
          <div class="item">
            <%= image_tag 'http://placehold.it/800x550&amp;text=use+your+image+here' %>
          </div>
          
          <div class="item">
            <%= image_tag 'http://placehold.it/800x550&amp;text=use+your+image+here' %>
          </div>
         
          <div class="item">
            <%= image_tag 'http://placehold.it/800x550&amp;text=use+your+image+here' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


