<div class="blog-item">
  <div class="media">
    <%= link_to cl_image_tag(post.image_url), post, class:'featured-image' %>
  </div>

  <div class="blog-teaser">
    <h4 class="blog-title">
      <%= link_to post.title, post %>
    </h4>

    <div class="meta">
      by <span class="author"><%= post.author %></span>
      on <span class="date"><%= post.published_at.to_date %></span>
    </div>

    <p class="excerpt">
      <%= post.body.truncate_words(15) %>
    </p>

    <%= link_to "Read more \u00bb", post, class:'read-more' %>
  </div>
</div>