<div class="widget-wrapper">
  <div class="widget-title">
    <h4>Categories</h4>
  </div>

  <ul class="blog-categories">
    <%= content_tag :li, link_to('News', 'javascript:void(0)'), class:'coming-soon' %>
    <%= content_tag :li, link_to('Blog', posts_path) %>
    <%= content_tag :li, link_to('Member Stories', 'javascript:void(0)') %>
    <%= content_tag :li, link_to('Get Involved', 'javascript:void(0)') %>
  </ul>
</div>

<!-- search widget -->
<div class="widget-wrapper">
  <div class="widget-title">
    <h4>Search</h4>
  </div>

  <form>
    <input class="search-widget" type="text" name="search" id="search" placeholder="Type query and hit enter...">
  </form>
</div>

<!-- tags widget -->
<div class="widget-wrapper">
  <div class="widget-title">
    <h4>Tags</h4>
  </div>

  <div class="blog-tags">
    <% tags.each do |tag| %>
      <%= content_tag :span, link_to(tag.name, '#') %>
    <% end %>
  </div>
</div>