<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<head>
  <%= render 'shared/head' %>
</head>

<body class="<%= body_class %>">
  <%= render 'shared/header' %>

  <%= yield %>

  <%= render 'shared/footer' %>

  <%= render 'shared/javascript' %>

  <%= debug(params) if Rails.env.development? %>
</body>
</html>
