<!DOCTYPE html>

<html lang="en">
<head>
  <%= render 'shared/head' %>
</head>

<body class="<%= body_class %>">
  <%= render 'shared/header' %>

  <%= yield %>

  <%= render 'shared/footer' %>

  <%= render 'shared/javascript' %>

  <%= debug(params) if Rails.env.development? %>
</body>
</html>
