<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>

<body class="<%= body_class %>">
  <%= render 'shared/header' %>

  <%= yield %>

  <%= render 'shared/footer' %>

  <%= render 'shared/javascript' %>
</body>
</html>
